
.slider-1 {
	min-width: 1200px;
}

.slider-1>.owl-carousel>.owl-stage-outer>.owl-stage>.owl-item>.item {
	height: 750px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.slider-1>.owl-carousel>.owl-nav>.owl-prev, .slider-1>.owl-carousel>.owl-nav>.owl-next
	{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	margin-left: -600px;
	background-color: transparent;
}

.slider-1>.owl-carousel>.owl-nav>.owl-prev:hover, .slider-1>.owl-carousel>.owl-nav>.owl-next:hover
	{
	background-color: transparent;
}

.slider-1>.owl-carousel>.owl-nav>.owl-next {
	margin-left: 600px;
}

.slider-1>.owl-carousel>.owl-dots {
	margin: 0;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.slider-1>.owl-carousel>.owl-dots>.owl-dot>span {
	margin: 0;
	padding: 0;
	border-radius: 0;
	width: 100px;
	margin: 0 10px;
	position: relative;
}

.slider-1>.owl-carousel>.owl-dots>.owl-dot>span::after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background-color: black;
}

.slider-1>.owl-carousel>.owl-dots>.owl-dot.active>span, .slider-1>.owl-carousel>.owl-dots>.owl-dot:hover>span
	{
	background-color: #D6D6D6;
}

.slider-1>.owl-carousel>.owl-dots>.owl-dot.active>span::after {
	width: 100%;
	transition: width 5s 0.2s;
}

.slider-1>.owl-carousel>.owl-stage-outer>.owl-stage>.owl-item>.item>.txt-box
	{
	position: absolute;
	top: 50%;
	left: 10%;
	transform: translateY(-50%);
}

.slider-1>.owl-carousel>.owl-stage-outer>.owl-stage>.owl-item>.item.text-color-white
	{
	color: white;
}

.slider-1>.owl-carousel>.owl-stage-outer>.owl-stage>.owl-item>.item>.txt-box>h1
	{
	font-size: 5rem;
	transition: opacity 1s 0.5s, transform 1s 0.5s;
	transform: translateY(500px);
	opacity: 0;
}

.slider-1>.owl-carousel>.owl-stage-outer>.owl-stage>.owl-item>.item>.txt-box>h2
	{
	font-size: 3rem;
	transition: opacity 1s 1s, transform 1s 1s;
	transform: translateY(200px);
	opacity: 0;
}

.slider-1>.owl-carousel>.owl-stage-outer>.owl-stage>.owl-item>.item>.txt-box>div
	{
	font-size: 2rem;
	transition: opacity 1s 1.5s, transform 1s 1.5s;
	transform: translateY(200px);
	opacity: 0;
}

.slider-1>.owl-carousel>.owl-stage-outer>.owl-stage>.owl-item.active>.item>.txt-box>*
	{
	transform: translateY(0);
	opacity: 1;
}