<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="poly.persistance.mapper.IFaceMapper">

	<!-- 게시판 리스트 쿼리 -->
	<insert id="FaceInsertImage" parameterType="FaceDTO" >
		INSERT INTO USER_FACE_INFO
			(
				FACE_SEQ,
				USER_ID,
				SAVE_FILE_PATH,
				SAVE_MODEL_PATH,
				REG_DT
			)
		VALUES(	
				(SELECT IFNULL(MAX(FACE_SEQ), 0)+1 FROM USER_FACE_INFO A),
				#{user_id},
				#{save_file_path},
				#{save_model_path},
				#{reg_dt}
			)
	</insert>
</mapper>