<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="poly.persistance.mapper.IBoardMapper">

	<!-- 게시판 리스트 쿼리 -->
	<select id="getBoardList" parameterType="String"
		resultType="BoardDTO">
		SELECT
		B.NOTICE_SEQ, B.TITLE, B.NOTICE_YN, B.READ_CNT, U.USER_NAME,
		B.USER_ID, B.REG_DT AS REG_DT
		FROM
		STUDY_BOARD B, USER_INFO U
		WHERE
		STUDY_SEQ = #{study_seq} AND B.USER_ID = U.USER_ID
		ORDER BY
		B.NOTICE_YN, B.REG_DT DESC
	</select>

	<!-- 게시판 등록 쿼리 -->
	<insert id="InsertBoardInfo" parameterType="BoardDTO">
		INSERT INTO
		STUDY_BOARD(NOTICE_SEQ, TITLE, NOTICE_YN, CONTENTS, USER_ID, READ_CNT,REG_ID, REG_DT, CHG_ID,
		CHG_DT, STUDY_SEQ)
		VALUES(
		(SELECT IFNULL(MAX(NOTICE_SEQ),0)+1 FROM STUDY_BOARD B),
		#{title}, #{notice_yn},#{contents}, #{user_id}, 0, #{user_id}, #{reg_dt},
		#{user_id}, #{reg_dt}, #{study_seq})
	</insert>

	<!-- 게시판 상세보기 쿼리 -->
	<select id="getBoardInfo" resultType="BoardDTO">
		SELECT B.NOTICE_SEQ, B.TITLE, B.NOTICE_YN, B.READ_CNT, U.USER_NAME,
		B.USER_ID, B.CONTENTS, B.STUDY_SEQ, B.REG_DT AS REG_DT
		FROM
		STUDY_BOARD B, USER_INFO U
		WHERE
		B.USER_ID = U.USER_ID AND B.NOTICE_SEQ = #{notice_seq} AND B.STUDY_SEQ =
		#{study_seq}
	</select>

	<!-- 조회수 증가 쿼리 -->
	<update id="updateBoardReadCnt" parameterType="BoardDTO">
		UPDATE STUDY_BOARD
		SET
		READ_CNT = READ_CNT + 1
		WHERE NOTICE_SEQ = #{notice_seq} AND STUDY_SEQ = #{study_seq}
	</update>

	<!-- 게시판 수정 쿼리 -->
	<update id="updateBoardInfo" parameterType="BoardDTO">
		UPDATE STUDY_BOARD
		SET
		TITLE = #{title}, NOTICE_YN = #{notice_yn}, CONTENTS = #{contents}, CHG_ID
		= #{user_id},CHG_DT = #{chg_dt}
		WHERE NOTICE_SEQ = #{notice_seq} AND STUDY_SEQ = #{study_seq}
	</update>

	<!-- 게시판 삭제 쿼리 -->
	<delete id="deleteBoardInfo" parameterType="BoardDTO">
		DELETE
		FROM STUDY_BOARD
		WHERE NOTICE_SEQ = #{notice_seq} AND STUDY_SEQ = #{study_seq}
	</delete>

	<!-- 파일 업로드 할때 notice_seq 가져와서 db에 같이 저장 -->
	<select id="getNotiSeq" parameterType="BoardDTO"
		resultType="BoardDTO">
		SELECT NOTICE_SEQ
		FROM STUDY_BOARD
		WHERE TITLE = #{title}
	</select>

	<!-- 게시판 상세보기에 파일 같이 보여주는 방법 -->
	<select id="getFileList" parameterType="String" resultType="OcrDTO">
		SELECT *
		FROM BORD_FILE_INFO
		WHERE NOTICE_SEQ = #{notice_seq}
	</select>

	<delete id="delBoardFile" parameterType="BoardDTO">
		DELETE FROM BORD_FILE_INFO
		WHERE NOTICE_SEQ = #{notice_seq}
	</delete>


</mapper>